$background: #303030;

@mixin main_blocks($height: 100%, $width: 100%) {
  padding: 5px;
  height: $height;
  width: $width;
  background: $background;
  border: 1px solid#454444;
  color: white;
}

@mixin map-legend-colors() {
  &.color1 {
    background-color: rgb(255, 0, 0);
  }
  &.color2 {
    background-color: rgb(255, 25, 0);
  }
  &.color3 {
    background-color: rgb(255, 50, 0);
  }
  &.color4 {
    background-color: rgb(255, 75, 0);
  }
  &.color5 {
    background-color: rgb(255, 100, 0);
  }
  &.color6 {
    background-color: rgb(255, 125, 0);
  }
  &.color7 {
    background-color: rgb(255, 150, 0);
  }
  &.color8 {
    background-color: rgb(255, 175, 0);
  }
  &.color9 {
    background-color: rgb(255, 200, 0);
  }
  &.color10 {
    background-color: rgb(255, 225, 0);
  }
  &.color11 {
    background-color: rgb(255, 250, 0);
  }
  &.color12 {
    background-color: rgb(255, 255, 25);
  }
  &.color13 {
    background-color: rgb(255, 255, 50);
  }
  &.color14 {
    background-color: rgb(255, 255, 100);
  }
  &.color15 {
    background-color: rgb(255, 255, 125);
  }
  &.color16 {
    background-color: rgb(255, 255, 150);
  }
  &.color17 {
    background-color: rgb(255, 255, 200);
  }
  &.color18 {
    background-color: rgb(255, 255, 250);
  }
}
