$background: #303030;

@mixin main_blocks($height: 100%, $width: 100%) {
    padding: 0;
    height: $height;    
    width: $width;
    background: $background;
    border: 1px solid#454444;
    color: white;
}