
.block-period,
.block-population {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
  padding: 7px;
  font-size: 14px;
  border: 1px solid #666;
  legend {
    color: #aaaaaa;
  }
  &__btn {
    position: relative;
    width: 100%;
    color: #aaaaaa;
    input[type='radio'] {
      position: absolute;
      visibility: hidden;
    }
    label {
      position: relative;
      z-index: 1;
      padding-left: 25px;
      cursor: pointer;
      transition: 0.2s linear;
      &:hover {
        color: #ffffff;
      }
      &:hover + .check {
        border: 3px solid #ffffff;
      }
    }

    .check {
      position: absolute;
      border: 3px solid #aaaaaa;
      border-radius: 100%;
      height: 17px;
      width: 17px;
      top: 0;
      left: 0;
      transition: border 0.25s linear;
      &::before {
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 7px;
        width: 7px;
        top: 2px;
        left: 2px;
        transition: 0.2s linear;
      }
    }
  }
  input[type='radio']:checked ~ .check {
    border: 3px solid #ffffff;
  }

  input[type='radio']:checked ~ .check::before {
    background: #ffffff;
  }

  input[type='radio']:checked ~ label {
    color: #ffffff;
  }
}

.block-period {
  margin-right: 5px;
}

///BTN-FULL///

.btn-full {
  width: 40px;
  height: 40px;
  background: #444;
  border: 1px solid #111111;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover {
    background: #333;
  }
  i {
    color: #fff;
  }
}