.main__container {
  .table {
    &.full {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      padding: 15px;
      z-index: 1002;
      margin: 0;
    }
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      height: 60px;
      .block-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .title {
          margin-right: 5px;
          font-size: 24px;
          text-align: center;
          text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        }
        .img-global {
          width: 30px;
          height: 30px;
          margin: 0 10px;
        }
        .img-country {
          width: 30px;
          height: 20px;
          margin: 10px 0;
        }
      }
    }
    &__content {
      height: calc(100% - 140px);
      display: grid;
      grid-template-columns: 33% 34% 33%;
      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 700;
        border: 1px solid #666;
        background-color: #343a40;
        .title {
          font-size: 18px;
          text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
          text-transform: capitalize;
        }
        span {
          font-size: 24px;
          padding: 0 10px;
          &.red {
            color: rgb(201, 19, 19);
          }
          &.black {
            color: rgb(8, 8, 8);
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.096), 0 0 1px transparent;
          }
          &.green {
            color: rgb(6, 197, 6);
          }
        }
      }
    }
    &__buttons {
      display: flex;
      justify-content: space-between;
      height: 80px;
    }
  }
}

@media (max-width: 1500px) {
  .main__container {
    .table {
      &__title {
        .block-title {
          .title {
            font-size: 19px;
            font-weight: 400;
          }
        }
      }
      &__content {
        .item {
          .title {
            font-size: 16px;
          }
          span {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .main__container {
    .table {
      &__title {
        padding-left: 0;
        .block-title {
          .title {
            font-size: 16px;
          }
        }
      }
      &__content {
        .item {
          .title {
            font-size: 14px;
          }
          span {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .main__container {
    .table {
      &__title {
        padding-left: 0;
        .block-title {
          .title {
            font-size: 20px;
          }
        }
      }
      &__content {
        .item {
          .title {
            font-size: 18px;
          }
          span {
            font-size: 22px;
          }
        }
      }
    }
  }
}
