.map {
    display: flex;
    flex-direction: column;

    &.fullscreen {
        position: absolute;
        width: 100%;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 5%;
        .icon_full {
            font-size: 30px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__content {
        width: 100%;
        height: 85%;

        .icon-circle {

            @include map-legend-colors;
            border-color: black;
            border-radius: 50%;
            border-style: solid;
            border-width: 1px;
            opacity: 0.7;
            width:5px;
            height:5px;
        }

        .map-legend {
            width: 90px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            background: white;
            font-size: 11px;
            color: black;
            div {
                height: 15px;
                width: 15px;
                background-color: gray;

                @include map-legend-colors;
            }

            span {
                margin-left: 5px;
                width: 70px;
            }

        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        height: 10%;

        .rate {
            height: 70%;
            padding: 5px;
            margin: 10px;
        }

        .period {
            height: 70%;
            padding: 5px;
            margin: 10px;
        }

        input:hover, label:hover {
            cursor: pointer;
        }


    }
}